body {
    text-align:center;
    background-color: dimgray;
}

h1 {
    color: chocolate;
}

h3 {
    color: chocolate;
}

h4 {
    color: chocolate;
}

h6 {
    color: red;
}

a {
    color: cadetblue;
}

b {
    color: chartreuse;
}

p {
    margin: inherit;
}
